<div id="engagement" class="content_2">

<h1 class="h-bloc">Engagement Bénévole</h1>

<div class="row">
  <body>

  <iframe width="610" height="343" src="https://www.youtube.com/embed/dww-PfiHwqs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



  <h1>Pourquoi j'ai choisi cette orientation ?</h1>
  <p>This is a paragraph.</p>

  <h1>Ma formation</h1>
  <p>This is a paragraph.</p>
  <table>
  <tr>
    <th>ce que j'ai apprécié</th>
    <th>ce qui m'a manqué</th>
  </tr>
  <tr>
    <td>chose 1</td>
    <td>chose 3</td>
  </tr>
  <tr>
    <td>chose 2</td>
    <td>chose 4</td>
  </tr>
</table>

<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">Mon projet professionnel</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOnee" class="collapse_tabs">
                          Mes valeurs/anti-valeurs
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOnee" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Au sein de mon parcours tant professionnel qu'académique, j'ai pu mésurer l'importance d'une approche qualitative et non quantitative de la cyber-sécurité.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwoe" class="collapse_tabs">
                            Projection de mes compétences vers mon projet professionnel
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwoe" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>Ma curiosité quant aux nouvelles technologies cyber actuellement en phase de conception me pousse régulièrement à rencontrer le monde de la recherche à travers des évènements tels que l'European Cyber Week ou la FIC. C'est en effet par le dialogue ouvert et le partage que les défis actuels peuvent trouver leurs solutions.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThreee" class="collapse_tabs">
                            Où me verais-je dans 5 ans ?
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThreee" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> Tant au niveau de mon parcours de formation que de mes lectures personelles, il m'a été donné l'opportunité de développer mes compétences, qu'elles soient techniques ou analytiques, dans une approche systémique et holistique.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

</div>
</div>
