<head>
  <style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  table.center {
    margin-left: auto;
    margin-right: auto;
  }
  </style>
</head>
<body>
<div id="engagement" class="content_2">

<h1 class="h-bloc">Engagement Bénévole</h1>

<div class="row">


  <iframe width="610" height="343" src="https://www.youtube.com/embed/dww-PfiHwqs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



  <h1>Pourquoi j'ai choisi cette orientation ?</h1>
  <p>A la suite de mon retour d'Angleterre, </p>

  <h1>Ma formation</h1>
  <p>This is a paragraph.</p>
  <table class="center">
  <tr>
    <th>ce que j'ai apprécié</th>
    <th>ce qui m'a manqué</th>
  </tr>
  <tr>
    <td>J'ai réellement pu monter en compétences réseaux, ce qui faisait défaut dans mon cursus cyber.</td>
    <td>Dans une certaine mesure, certaines matières auraient bénéficié d'une ouverture accrue vers la spécialisation.</td>
  </tr>
  <tr>
    <td>J'ai pu acquérir des compétences clés en cryptographie et en retro-conception dans mes champs d'intérêt.</td>
    <td>Il me reste encore certaines branches des mathématiques appliquées à appréhender pour prétendre à une maitrise de l'outil cryptographique.</td>
  </tr>
  <tr>
    <td>Mon bagage ingénieur à travers la gestion financière ou le management me permet d'ouvrir mon champs d'ouverture en terme d'emploi.</td>

  </tr>
</table>

<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">Mon projet professionnel</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOnee" class="collapse_tabs">
                          Mes valeurs/anti-valeurs
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOnee" class="panel-collapse collapse in">
                    <div class="panel-body">
                        J'ai des valeur très fortes dans ce qui s'agit de l'ouverture du savoir et de la libre circulation de l'information.
                        Ainsi, je suis naturellement attiré vers des projets disposant d'une licence "logiciel libre" (GPL/APSL) et ai une certaine aversion envers toute sécurité basée sur la dissimulation de ses moyens de défense.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwoe" class="collapse_tabs">
                            Projection de mes compétences vers mon projet professionnel
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwoe" class="panel-collapse collapse">
                    <div class="panel-body">
                        Ma curiosité quant aux nouvelles technologies cyber actuellement en phase de conception me pousse régulièrement à rencontrer le monde de la recherche à travers des évènements tels que l'European Cyber Week ou la FIC. C'est en effet par le dialogue ouvert et le partage que les défis actuels peuvent trouver leurs solutions.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThreee" class="collapse_tabs">
                            Où me verais-je dans 5 ans ?
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThreee" class="panel-collapse collapse">
                    <div class="panel-body">
                        Dans le cadre d'une contribution libre à l'état de l'art de la cyber, je me siturais bien en tant que chercheur cryptologue au sein d'un organisme de recherche publique tel que l'INRIA, l'IRISA ou le CEA.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

</div>
</div>
</body>
