<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Qui suis-je ?</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">

        <!--About me-->
        <div class="title_content">
            <div class="text_content">Charles Gandon</div>
            <div class="clear"></div>
        </div>

		   <ul class="A propos">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label></label>
                <span class="value">Charles Gandon</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label></label>
                <span class="value">24 ans</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-map-marker"></i>
                <label></label>
                <span class="value">Rennes, France</span>
                <div class="clear"></div>
            </li>

            <!-- <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">charles.gandon@nospam.com</span>
                <div class="clear"></div>
            </li> -->

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label></label>
                <span class="value"><a href="https://www.linkedin.com/in/charles-gandon/" target="_blank">https://www.linkedin.com/in/charles-gandon/</a></span>
                <div class="clear"></div>
            </li>

        </ul>
        <br>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
            Originaire de Rennes, j'ai suivi mes études supérieures en informatique à l'étranger (Royaume-Uni) où j'y ai été diplomé d'un Bachelor en Computer Science à l'université de Southampton.<br>
 À la suite de quoi, j'ai eu l'opportunité de travailler chez Orange CyberDefense à Rennes au sein de l'équipe de Baptiste Chevreau en tant qu'analyste Cyber-SOC.        </p>

         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
Actuellement rentré en France, je poursuis ma formation orientée cyber-sécurité sein du cycle ingénieur informatique et réseaux de l'école angevine ESAIP.
        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Qu'est-ce que pour moi la cyber-défense ?</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>Un luxe obligatoire</h6>
                    <p>Un système n'est sécurisé qu'à la hauteur de son maillon le plus faible, or cette obligation qualitative rentre dans le réel en contradiction avec le besoin quantitatif des entreprises.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Un champ de recherche permanent</h6>
                    <p>La cyber-défense exige, comme sous-champ de la défense et de son escalade entre attaque et défense, une inovation constante pour résoudre des problèmes toujours davantage complexes.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Une discipline transversale</h6>
                    <p>"Le Tout est supérieur à la somme des parties": n'est possible comme sécurité d'un système qu'une défense embrassant totalement la diversité des vecteurs d'attaque aujourd'hui utilisés.</p>
                </div>
            </div>
        </div>
     </div>
</div><!-- End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">Mon approche de cette industrie</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                          Un luxe obligatoire
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> Au sein de mon parcours tant professionnel qu'académique, j'ai pu mésurer l'importance d'une approche qualitative et non quantitative de la cyber-sécurité.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Un champ de recherche permanent
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>Ma curiosité quant aux nouvelles technologies cyber actuellement en phase de conception me pousse régulièrement à rencontrer le monde de la recherche à travers des évènements tels que l'European Cyber Week ou la FIC. C'est en effet par le dialogue ouvert et le partage que les défis actuels peuvent trouver leurs solutions.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            Une discipline transversale
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> Tant au niveau de mon parcours de formation que de mes lectures personelles, il m'a été donné l'opportunité de développer mes compétences, qu'elles soient techniques ou analytiques, dans une approche systémique et holistique.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->
